.contenido {
  margin-top: 7%;
}
.sizeInput {
  width: 100%;
  height: 5px;
}
.arriba {
  margin-top: -15%;
}
.padding {
  padding: 0px;
}
.der {
  text-align: right;
}
.elemento {
  list-style: none;
  font-size: 11px;
}
.consolas {
  color: black;
}
.nintendo {
  color: orange;
}
.titleStrong {
  font-size: 11px;
  margin-left: 8%;
}

.title5 {
  color: #999999;
  text-align: center;
}
.border {
  border-bottom: 1px solid #999999;
}

.borderR {
  border-right:1px solid #999999;
}
.orange:hover {
  color:orange;
  text-decoration:none;
}
.numero {
  color: #999999;
}
.prime {
  width: 30%;
  height: 30%;
}
.red {
  color: #B22906;
}
